/.clj-kondo/.cache/2021.10.19/clj/user.transit.json
/.clj-kondo/.cache/2021.10.19/cljc/user.transit.json
/.clj-kondo/.cache/2021.10.19/lock
/.clj-kondo/.cache/2021.10.20-SNAPSHOT/clj/user.transit.json
/.clj-kondo/.cache/2021.10.20-SNAPSHOT/cljc/user.transit.json
/.clj-kondo/.cache/2021.10.20-SNAPSHOT/lock
/.lsp/.cache/data.mdb
/.lsp/.cache/lock.mdb
/.rebel_readline_history
